OxHack.SignInKiosk.Windows/Service References/MessageBrokerProxy/OxHack.SignInKiosk.Domain.Messages.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVisitor" type="xs:boolean" />
      <xs:element minOccurs="0" name="TokenId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
</xs:schema>