OxHack.SignInKiosk.Windows/Service References/MessageBrokerProxy/OxHack.SignInKiosk.Domanin.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domanin.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domanin.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVisitor" type="xs:boolean" />
      <xs:element minOccurs="0" name="TokenId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="SignedInRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsVisitor" type="xs:boolean" />
      <xs:element minOccurs="0" name="SignInTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TokenId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignedInRecord" nillable="true" type="tns:SignedInRecord" />
</xs:schema>