OxHack.SignInKiosk.Windows/Service References/MessageBrokerProxy/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages" />
  <xs:element name="PublishSignInRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages" minOccurs="0" name="message" nillable="true" type="q1:SignInRequestSubmitted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishSignInRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishSignOutRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages" minOccurs="0" name="message" nillable="true" type="q2:SignOutRequestSubmitted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishSignOutRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTokenReadPublished">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages" minOccurs="0" name="message" nillable="true" type="q3:TokenRead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTokenReadPublishedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPersonSignedInPublished">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages" minOccurs="0" name="message" nillable="true" type="q4:PersonSignedIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPersonSignedInPublishedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPersonSignedOutPublished">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages" minOccurs="0" name="message" nillable="true" type="q5:PersonSignedOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPersonSignedOutPublishedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSignInRequestSubmittedPublished">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages" minOccurs="0" name="message" nillable="true" type="q6:SignInRequestSubmitted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSignInRequestSubmittedPublishedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSignOutRequestSubmittedPublished">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages" minOccurs="0" name="message" nillable="true" type="q7:SignOutRequestSubmitted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSignOutRequestSubmittedPublishedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepCallbackAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepCallbackAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>