OxHack.SignInKiosk.Windows/Service References/MessageBrokerProxy/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageBrokerProxyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ServiceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Messages.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OxHack.SignInKiosk.Domain.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageBrokerProxyService_PublishSignInRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishSignInRequest" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_PublishSignInRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishSignInRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_PublishSignOutRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishSignOutRequest" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_PublishSignOutRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishSignOutRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_KeepAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:KeepAlive" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_KeepAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeepAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_OnTokenReadPublished_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTokenReadPublished" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_OnTokenReadPublished_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTokenReadPublishedResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_OnPersonSignedInPublished_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPersonSignedInPublished" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_OnPersonSignedInPublished_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPersonSignedInPublishedResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_OnPersonSignedOutPublished_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPersonSignedOutPublished" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_OnPersonSignedOutPublished_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPersonSignedOutPublishedResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_OnSignInRequestSubmittedPublished_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSignInRequestSubmittedPublished" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_OnSignInRequestSubmittedPublished_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSignInRequestSubmittedPublishedResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_OnSignOutRequestSubmittedPublished_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSignOutRequestSubmittedPublished" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_OnSignOutRequestSubmittedPublished_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSignOutRequestSubmittedPublishedResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_KeepCallbackAlive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:KeepCallbackAlive" />
  </wsdl:message>
  <wsdl:message name="IMessageBrokerProxyService_KeepCallbackAlive_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:KeepCallbackAliveResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageBrokerProxyService">
    <wsdl:operation name="PublishSignInRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/PublishSignInRequest" message="tns:IMessageBrokerProxyService_PublishSignInRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/PublishSignInRequestResponse" message="tns:IMessageBrokerProxyService_PublishSignInRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishSignOutRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/PublishSignOutRequest" message="tns:IMessageBrokerProxyService_PublishSignOutRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/PublishSignOutRequestResponse" message="tns:IMessageBrokerProxyService_PublishSignOutRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/Subscribe" message="tns:IMessageBrokerProxyService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/SubscribeResponse" message="tns:IMessageBrokerProxyService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/Unsubscribe" message="tns:IMessageBrokerProxyService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/UnsubscribeResponse" message="tns:IMessageBrokerProxyService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/KeepAlive" message="tns:IMessageBrokerProxyService_KeepAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/KeepAliveResponse" message="tns:IMessageBrokerProxyService_KeepAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnTokenReadPublished">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/OnTokenReadPublished" message="tns:IMessageBrokerProxyService_OnTokenReadPublished_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/OnTokenReadPublishedResponse" message="tns:IMessageBrokerProxyService_OnTokenReadPublished_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPersonSignedInPublished">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/OnPersonSignedInPublished" message="tns:IMessageBrokerProxyService_OnPersonSignedInPublished_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/OnPersonSignedInPublishedResponse" message="tns:IMessageBrokerProxyService_OnPersonSignedInPublished_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPersonSignedOutPublished">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/OnPersonSignedOutPublished" message="tns:IMessageBrokerProxyService_OnPersonSignedOutPublished_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/OnPersonSignedOutPublishedResponse" message="tns:IMessageBrokerProxyService_OnPersonSignedOutPublished_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSignInRequestSubmittedPublished">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/OnSignInRequestSubmittedPublished" message="tns:IMessageBrokerProxyService_OnSignInRequestSubmittedPublished_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/OnSignInRequestSubmittedPublishedResponse" message="tns:IMessageBrokerProxyService_OnSignInRequestSubmittedPublished_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSignOutRequestSubmittedPublished">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/OnSignOutRequestSubmittedPublished" message="tns:IMessageBrokerProxyService_OnSignOutRequestSubmittedPublished_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/OnSignOutRequestSubmittedPublishedResponse" message="tns:IMessageBrokerProxyService_OnSignOutRequestSubmittedPublished_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeepCallbackAlive">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/KeepCallbackAlive" message="tns:IMessageBrokerProxyService_KeepCallbackAlive_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBrokerProxyService/KeepCallbackAliveResponse" message="tns:IMessageBrokerProxyService_KeepCallbackAlive_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceEndpoint" type="tns:IMessageBrokerProxyService">
    <wsp:PolicyReference URI="#ServiceEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PublishSignInRequest">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/PublishSignInRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishSignOutRequest">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/PublishSignOutRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/KeepAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTokenReadPublished">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/OnTokenReadPublished" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPersonSignedInPublished">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/OnPersonSignedInPublished" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPersonSignedOutPublished">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/OnPersonSignedOutPublished" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSignInRequestSubmittedPublished">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/OnSignInRequestSubmittedPublished" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSignOutRequestSubmittedPublished">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/OnSignOutRequestSubmittedPublished" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepCallbackAlive">
      <soap12:operation soapAction="http://tempuri.org/IMessageBrokerProxyService/KeepCallbackAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageBrokerProxyService">
    <wsdl:port name="ServiceEndpoint" binding="tns:ServiceEndpoint">
      <soap12:address location="net.tcp://localhost:8137/MessageBrokerProxyService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8137/MessageBrokerProxyService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>